@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@layer{
    .column{
        @apply flex flex-col;
    }

    .row{
        @apply flex flex-row;
    }
}

.full-column{
    @apply column w-full
}

.full-row{
    @apply row w-full
}

.section-title{
    @apply font-thin text-xl;
}

.input-block{
    @apply flex flex-col items-center min-w-[5rem] mb-4;
}
.input-header{
    @apply font-semibold mb-2;
}

.input-value{
    @apply font-thin text-xl;
}

.cell{
    @apply p-2 bg-white min-w-[6rem];
}

.cell.heading{
    @apply bg-gray-200;
}

.cell.heading-2{
    @apply font-medium;
}

/* Scrollbar CSS */

/* Firefox */
projection-table * {
    scrollbar-width: auto;
    scrollbar-color: #9c9c9c #ffffff;
}

/* Chrome, Edge, and Safari */
projection-table *::-webkit-scrollbar {
    width: 13px;
}

projection-table *::-webkit-scrollbar-track {
    background: #ffffff;
}

projection-table *::-webkit-scrollbar-thumb {
    background-color: #9c9c9c;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
