<div class="full-column">
    <div class="full-row">
        <div class="column">
            <div class="cell heading">Year</div>
            <div class="cell heading">Age</div>
            <div class="cell heading">Start Balance</div>
            <div class="cell heading">Contributions</div>
            <div class="cell heading">Earnings</div>
            <div class="cell heading">Fees</div>
            <div class="cell heading">Tax</div>
            <div class="cell heading">Withdrawals</div>
            <div class="cell heading">End Balance</div>
        </div>
        <ng-container
            *ngIf="projections$ | async as projections; else noDataState"
        >
            <div class="full-row overflow-x-auto">
                <div
                    *ngFor="let p of projections"
                    class="column border border-l-0"
                >
                    <div class="cell heading-2">{{ p.year }}</div>
                    <div class="cell heading-2 border-b">{{ p.age }}</div>
                    <div class="cell">
                        {{ p.start_balance | currency : 'AUD' }}
                    </div>
                    <div class="cell">
                        {{ p.contributions | currency : 'AUD' }}
                    </div>
                    <div class="cell">{{ p.earnings | currency : 'AUD' }}</div>
                    <div class="cell">{{ p.fees | currency : 'AUD' }}</div>
                    <div class="cell">{{ p.tax | currency : 'AUD' }}</div>
                    <div class="cell">
                        {{
                            p.withdrawal > 0
                                ? (p.withdrawal | currency : 'AUD')
                                : '-'
                        }}
                    </div>
                    <div class="cell">
                        {{ p.end_balance | currency : 'AUD' }}
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<ng-template #noDataState>
    <div class="full-column">
        <span class="m-auto">No data</span>
    </div>
</ng-template>
